Tailwind CSS Portfolio Template/.DS_Store
Tailwind CSS Portfolio Template/assets/photo.jpg
Tailwind CSS Portfolio Template/assets/project1.png
Tailwind CSS Portfolio Template/assets/project2.png
Tailwind CSS Portfolio Template/assets/project3.png
Tailwind CSS Portfolio Template/assets/project4.png
Tailwind CSS Portfolio Template/assets/project5.png
Tailwind CSS Portfolio Template/assets/project6.png
Tailwind CSS Portfolio Template/License.txt
