  body {
   background-color: #000000;
  }

  h1 {
   color: #ffffff;
   text-align: center;
   font: italic 200% courier;
  }

  p {
   color: #33a8ff;
   text-align: center;
   border: 3px #ff008d;
  }

a {
color: #69CBBB;
}
