body {
  margin: 0 auto;
  /* max-width: 50em; */
  line-height: 1.5;
  padding: 8em 8em;
}

h1{
  font-family: Arial;
}

h2 {
  font-size: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    width: 20%;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* .bigcolumn {
  width: 71%;
  float: right;
}

/* relevant styles
.img__wrap {
  position: relative;
  height: 600px;
  width: 500px;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
} */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.mini {
  font-size: 13px;
}

p, h3 {
  color: #FFFFFF;
}

/* .Portal {
   height:100%;
   width:100%;
   background: url('Chrissy1.png');
   margin:auto; /*position the [div] on the center
 }

hover event trigger
 .Portal:hover {
  cursor:pointer;
  background:url('ActualWork/Chrissyslowandabitfast.gif');
} */







.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   // background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 1000px;
    height: 1000px;
    position: right;
    margin: 1% auto;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);}



#openModal, #openModal1, #openModal2, #openModal3, #openModal7, #openModal10
, #openModal15, #openModal16, #openModal17, #openModal19 img  {
    width: 500px;
    height:auto;
}

#openModal4, #openModal5, #openModal8 #openModal13 img {
  width: 700px;
  height: auto;
}

#openModal6, #openModal9, #openModal11 img {
  width: 700px;
  height: auto;
}

#openModal14, #openModal18 img {
  width:400px;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}








.video-item {
  overflow: hidden;
}

.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
}

.video-item iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.video-item img {
  display: block;
  height: auto;
  max-width: 100%;
  height: 270px;
  width: 480px;
}

@supports (display: grid) {

  .video-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 0 -2em;
  }

  .video-item {
    margin-top: 0;
  }

  .video-item iframe {
    border: 0.125rem solid transparent;
  }

  .video-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .video-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .video-item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .video-item:nth-last-child(-n+1):first-child,
  .video-item:nth-last-child(-n+1):first-child ~ .video-item {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
}
